{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

    <!-- Facebook -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.facebook.com/krusenen" title="My Facebook profile">
            <i class='fa fa-facebook-official'></i>
            <span class="label">Facebook</span>
        </a>
    </li>

    <!-- Twitter -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://twitter.com/sorenkrusen" title="@sorenkrusen on Twitter">
            <i class='fa fa-twitter'></i>
            <span class="label">Twitter</span>
        </a>
    </li>

    <!-- Linkedin -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://linkedin.com/in/krusenen" title="My LinkedIn profile">
            <i class='fa fa-linkedin-square'></i>
            <span class="label">Linkedin</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/Krusen" title="My Github profile">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- StackExchange -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://sitecore.stackexchange.com/users/55/s%C3%B8ren-kruse" title="My Sitecore Stack Exchange profile">
            <i class='fa fa-stack-exchange'></i>
            <span class="label">Sitecore Stack Exchange</span>
        </a>
    </li>

    <!-- StackOverflow -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="http://stackoverflow.com/users/5358985/s%C3%B8ren-kruse" title="My Stack Overflow profile">
            <i class='fa fa-stack-overflow'></i>
            <span class="label">Stack Overflow</span>
        </a>
    </li>
</ul>